.navbar_container {
  background-color: var(--light-blue-color);
  border-radius: 10px;
  & .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 41px;
    height: 90px;
    flex-wrap: wrap;
    position: relative;

    & .navigation_links {
      display: flex;
      gap: 38px;
      align-items: center;
    }

    // Hamburger menu styles
    & .hamburger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
      z-index: 100;

      & .hamburger-line {
        width: 100%;
        height: 3px;
        background-color: var(--dark-blue-color);
        transition: all 0.3s ease;

        &.open {
          &:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
          }
        }
      }
    }

    // Mobile navigation styles
    & .nav-container {
      transition: all 0.1s ease;
    }

    & .mobile-only-button {
      display: none;
    }
  }
}

// Media queries for responsive design
@media (max-width: 768px) {
  .navbar_container .navbar {
    padding: 0px 20px;

    & .hamburger-menu {
      display: flex;
    }

    & .nav-container {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      border-radius: 10px;
      max-height: 0;
      overflow: hidden;
      padding: 0;
      z-index: 9999;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      visibility: hidden;

      &.open {
        max-height: 300px;
        padding: 20px;
        visibility:visible;
      }

      & .navigation_links {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
    }

    & .desktop-only-button {
      display: none;
    }

    & .mobile-only-button {
      display: block;
      margin-top: 10px;
    }
  }
}
