.navbar_container {
  background-color: var(--light-blue-color);
  border-radius: 10px;
  & .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 41px;
    height: 90px;

    & .navigation_links {
      display: flex;
      gap: 38px;
      align-items: center;
    }
  }
}
